<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{cateName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="--background:#fafafa;">
    <div class="title">{{title}}</div>
    <div class="desc">发布于 {{publish}} <span *ngIf="hits>0">, {{hits}}次阅读</span></div>
    <div class="media" *ngIf="videoEnable">
        <app-video [video]='videoUrl'></app-video>
    </div>
    <div class="content">
        <div class="article-content" [innerHTML]="content">
        </div>
    </div>
    <div class="comment" *ngIf="comments.length > 0">
        <p>网友评论</p>
        <div class="cmt-ctt">
            <div style="width:4em;">游客1：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客2：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客3：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客4：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客5：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
    </div>
</ion-content>