<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>栏目名称</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding style="--background:#fafafa;">
    <div class="title">阿里：马云从未转让和退出淘宝股份 也没有这个打算</div>
    <div class="desc">发布于 3天前, 200次阅读</div>
    <div class="media">
        <app-video></app-video>
    </div>
    <div class="content">
        <div class="article-content">
            <p><span class="bjh-p">PingWest品玩1月8日讯，针对马云转让出清淘宝股权一事，阿里巴巴官方下午发布声明称，马云从未转让和退出淘宝的股份，也没有这个打算。这是任何公司管理过程中非常正常且普通的技术和法律层面操作。</span></p>
            <div class="img-container"><img class="normal" width="500px" data-loadfunc="0" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4026248746,772210669&amp;fm=173&amp;app=49&amp;f=JPEG?w=500&amp;h=520&amp;s=B51A657F09FEF4C81E55C4DE0100E0B1"
                    data-loaded="0"></div>
            <p><span class="bjh-p">同时，阿里巴巴方面表示，这样的调整，将进一步推进阿里巴巴管理的透明和公开，对公司的未来只有好处没有坏处。</span></p>
            <p><span class="bjh-p">据天眼查显示，1月4日，马云和谢世煌退出浙江淘宝网络有限公司的股权备案，新增杭州臻希投资管理有限公司作为唯一股东。杭州臻希投资管理有限公司法人为郑俊芳，现任阿里合伙人兼首席平台治理官。同时，杭州臻希投资管理有限公司由杭州臻强投资管理合伙企业和杭州臻晟投资管理合伙企业各认缴250万元注册资本，持股50%，而张勇、赵颖、郑俊芳、童文红、邵晓锋5名高管各持有杭州臻强和杭州臻晟20%股份。</span></p>
            <p><span class="bjh-p">对此，阿里方面称，这个调整不涉及阿里巴巴集团层面的股权调整，也不影响阿里巴巴合伙人机制。马云仍将担任阿里巴巴合伙人并继续在阿里巴巴合伙人机制中发挥重要影响力。</span></p>
        </div>
    </div>
    <div class="comment">
        <p>网友评论</p>
        <div class="cmt-ctt">
            <div style="width:4em;">游客1：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客2：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客3：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客4：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
        <div class="cmt-ctt">
            <div style="width:4em;">游客5：</div>
            <div style="flex:1">这个政策好这个政策好这个</div>
        </div>
    </div>
</ion-content>