<ion-header>
    <ion-toolbar>
        <ion-title>
            扬中智慧小镇
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides class="slides" pager="false" [options]="slideOpts">
        <ion-slide>
            <img class="slide-img" src="/assets/sp-head.png" />
        </ion-slide>
        <ion-slide>
            <img class="slide-img" src="/assets/sp-head.png" />
        </ion-slide>
        <ion-slide>
            <img class="slide-img" src="/assets/sp-head.png" />
        </ion-slide>
    </ion-slides>
    <div class="more-outline">
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide class="more-slide">
                <ul class="more-opts">
                    <li *ngFor="let c of scrollChannels">
                        <div [ngStyle]="{'background-color':c.bgColor}">
                            <ion-icon [name]="c.icon"></ion-icon>
                        </div>
                        <ion-label>{{c.title}}</ion-label>
                    </li>

                </ul>
            </ion-slide>
        </ion-slides>
    </div>
    <div style="width:100%; height:0.5em;"></div>
    <app-content-list title="小镇动态" [titleVisible]="true" [channel]="activityChannelId" mode="firstWeight"></app-content-list>
    <div style="width:100%; height:0.5em;"></div>
    <app-content-list title="大事记"  [titleVisible]="true" [channel]="eventChannelId" mode="firstWeight"></app-content-list>
</ion-content>