<ion-header>
    <ion-toolbar>
        <ion-title>
            扬中智慧电气小镇
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides class="slides" pager="false" [options]="slideOpts">
        <ion-slide *ngFor='let item of hots' (click)='turnHot(item)'>
            <img class="slide-img" [src]="item.image" />
            <span class="slide-title"><span>{{item.title}}</span></span>
        </ion-slide>
    </ion-slides>
    <div class="more-outline">
        <ion-slides pager="false" [options]="slideOpts">
            <ion-slide class="more-slide">
                <ul class="more-opts">
                    <li (click)="navigateTo('http://720yun.com/t/7af2exa5utf?from=singlemessage&isappinstalled=0&pano_id=1082997')">
                        <div [ngStyle]="{'background-color':'rgba(253,145,122,255)'}">
                            <ion-icon name="airplane"></ion-icon>
                        </div>
                        <ion-label>小镇航拍</ion-label>
                    </li>
                    <li *ngFor="let c of scrollChannels">
                        <div [ngStyle]="{'background-color':c.bgColor}" (click)='onClick(c)'>
                            <ion-icon [name]="c.icon"></ion-icon>
                        </div>
                        <ion-label>{{c.title}}</ion-label>
                    </li>

                </ul>
            </ion-slide>
        </ion-slides>
    </div>
    <div style="width:100%; height:0.5em;"></div>
    <app-content-list title="小镇概况" [titleVisible]="true" [channel]="activityChannelId"></app-content-list>
    <div style="width:100%; height:0.5em;"></div>
    <app-content-list title="大事记" [titleVisible]="true" [channel]="eventChannelId"></app-content-list>
</ion-content>