.content {
    display: flex;
    box-sizing: border-box;
    height: 7em;
    border-bottom: 1px dashed #eee;

    overflow: hidden;



    .title {
        padding: .5em;
        display: inline-flex;
        flex-direction: column;
        width: 65%;
        box-sizing: border-box;
        line-height: 1.5em;
        height: 6em;

        p {
            margin-top: .25em;
            margin-bottom: .25em;
            color: #aaa;
            font-size: .8em;
        }
    }
    .image {
        padding: .5em;
        display: inline-flex;
        width: 35%;
        box-sizing: border-box;
        height: 6em;

        img {
            width: 100%;
            box-sizing: border-box;
        }
    }
}


.contitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

.content-vertical {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px dashed #eee;
    flex-direction: column;

    .title {

        line-height: 1.5em;

        p {
            color: #aaa;
            font-size: .8em;
            display: inline-block;
            padding: 0;
            margin: 0;
        }
    }

    .image {
        width: 100%;
        box-sizing: border-box;

        img {
            width: 100%;
            box-sizing: border-box;
        }
    }


    .media {
        margin-top: 1em;
        margin-left: -16px;
        margin-right: -16px;
    }

}