.category-tabber{
    background-color:white;
    .category{
        width:max-content;
        min-width: 100%;
        border-bottom: 1px solid #ddd;
        div{
            display: inline-block;
            margin-bottom: -1px;
            padding:.75em;
            border-bottom: 1px solid #ddd;
            color:#aeaeae;
            &.active{
                border-bottom: 1px solid var(--ion-toolbar-background);
                color:var(--ion-toolbar-background);
            }
        }
    }
}